*.config linguist-language=nextflow
*.nf.test linguist-language=nextflow
modules/nf-core/** linguist-generated
subworkflows/nf-core/** linguist-generated
assets/svdb_databases/UWONT_450_AF.vcf.gz filter=lfs diff=lfs merge=lfs -text
assets/svdb_databases/gnomad.v4.1.sv.sites.rmMissing.vcf.gz filter=lfs diff=lfs merge=lfs -text
