/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode ?: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // SV callers
    withName: SNIFFLES {
        cpus = 3
        memory = 3.GB
        ext.args = params.sniffles.sniffles_args
        publishDir = [
            path: { "${params.outdir}/calls/sniffles/" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    withName: CUTESV {
        cpus = 4
        memory = 12.GB
        ext.args = params.cutesv.cutesv_args
        publishDir = [
            path: { "${params.outdir}/calls/cutesv/" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    withName: SEVERUS {
        cpus = 4
        memory = 5.GB
        ext.args = params.severus.severus_args
        publishDir = [
            path: { "${params.outdir}/calls/severus/" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    // Jasmine sample and cohort consensus
    withName: JASMINESV_SAMPLE {
        cpus = 3
        memory = 3.GB
        ext.args = params.jasminesv_sample.jasminesv_sample_args
        publishDir = [
            path: { "${params.outdir}/sample_consensus" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    withName: JASMINESV_COHORT {
        cpus = 3
        memory = 3.GB
        ext.args = params.jasminesv_cohort.jasminesv_cohort_args
        publishDir = [
            path: { "${params.outdir}/cohort_consensus" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    // SVDB annotation
    withName: SVDB_QUERY {
        cpus = 4
        memory = 3.GB
        publishDir = [
            path: { "${params.outdir}/annotation" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    // BCFtools sample and cohort filtering
    withName: BCFTOOLS_VIEW_SAMPLE {
        cpus = 2
        memory = 2.GB
        ext.args = params.bcftools_view_sample.bcftools_view_sample_args
        publishDir = [
            path: { "${params.outdir}/sample_filtered" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    withName: BCFTOOLS_VIEW_COHORT {
        cpus = 2
        memory = 2.GB
        ext.args = params.bcftools_view_cohort.bcftools_view_cohort_args
        publishDir = [
            path: { "${params.outdir}/filtered" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{vcf,vcf.gz}'
        ]
    }
    // AnnotSV
    withName: ANNOTSV {
        cpus = 6
        memory = 8.GB
        ext.args = params.annotsv.annotsv_args
        publishDir = [
            path: { "${params.outdir}/annotation" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*.{tsv,vcf}'
        ]
    }
    // SV summary counts
    withName: '.*:SUMMARIZE_.*' {
        cpus = 1
        memory = 1.GB
        publishDir = [
            path: { "${params.outdir}/stats" },
            mode: params.publish_dir_mode ?: 'copy',
            pattern: '*_sv_summary.tsv'
        ]
    }

}
